@use "./../src/assets/styles/_index.scss" as c;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Tinos&display=swap");

button {
  all: initial;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: c.$black50;
}

@keyframes example {
  from {
    top: 0px;
  }
  to {
    top: 30px;
  }
}

.app__arrowscroll {
  position: relative;
  display: inline-block;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
