$white: #ffffff;
$black10: #000000;
$black20: #1f2626;
$black30: #263238;
$black40: #252728;
$black50: #041f31;
$gray10: #627070;
$gray20: #b8c4c2;
$gray30: #d7e5ec;
$pink10: #ff6196;
$pink20: #ff87af;
$pink30: #99425b;
$pink40: #ffcebf;
$blue10: #2396ed;
$blue20: #007acc;
$blue30: #336791;
$blue40: #764abc;
$blue50: #53c1de;
$blue60: #d7e5ec;
$blue70: #bdebea;
$blue80: #d9f2f2;
$green10: #10aa50;
$green20: #12924f;
$yellow10: #ffdf1e;
$linear10: linear-gradient(90deg, #00f5a0 0%, #00d9f5 100%);
$linear20: linear-gradient(0deg, #ffb199 0%, #ff0844 100%);
