@use "./../../assets/styles/index.scss" as c;

.aboutme {
  text-align: initial;
  width: 60vw;
  margin-top: 205px;
}

.aboutme__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: c.$blue70;
}

.aboutme__textcontainer {
  display: flex;
  align-items: center;
}

.aboutme__description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: c.$blue70;
}

.aboutme__description:after {
  display: inline-block;
  position: absolute;
  width: 60px;
  height: 5px;
  left: 360px;
  background: c.$linear10;
  border-radius: 2px;
  transform: rotate(-90deg);
  z-index: 2;
}

@media (max-width: 1750px) {
  .aboutme {
    width: calc(100vw - 500px);
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 1150px) {
  .aboutme {
    width: 70vw;
  }
}
